:root {
    --title__home-family: "Poppins";
    --title__home-weight: 600;
    --headline__section-size: 48px;
    --headline__section-size-rem: 3rem;
    --headline__section-weight: 600;
    --headlline__hero-size: 36px;
    --headlline__hero-size-rem: 2.25rem;
    --headlline__hero-weight: 500;
    --subtitle__hero-size: 24px;
    --subtitle__hero-size-rem: 1.5rem;
    --subtitle__hero-weight: 400;
    --subtitle__section-size: 24px;
    --subtitle__section-size-rem: 1.5rem;
    --subtitle__section-weight: 500;
    --border-radius-12: 12px;
    --border-radius-16: 16px;
    --border-radius-8: 8px;

    --color-2: #ffffffff;
    --colors-black: #000000ff;
    --colors-blue-100: #ced7e3ff;
    --colors-blue-200: #969fb2ff;
    --colors-blue-400: #485879ff;
    --colors-dark-grey: #797979ff;
    --colors-light-blue: #e8eaeeff;
    --colors-light-grey: #edededff;
    --colors-red-500: #d53b44ff;
    --colors-red-600: #ab2a2eff;
    --colors-red-800: #55181bff;
    --colors-white: #ffffffff;
    --colors-green: #4ecb71ff;
    --colors-background-dark-red: var(--colors-red-800);
    --colors-background-red: var(--colors-red-600);
    --colors-background-darkblue: var(--colors-blue-400);
    --colors-background-grayblue: var(--colors-blue-200);
    --colors-background-light-red: var(--colors-red-500);
    --colors-background-lightblue: var(--colors-blue-100);
    --button-colors-primary-surface--default: var(--colors-background-red);
    --button-colors-primary-surface--aktive: var(--colors-background-dark-red);
    --button-colors-primary-surface--disable: var(--colors-light-grey);
    --button-colors-primary-surface--hover: var(--colors-background-light-red);
    --container-lightblue: var(--colors-background-lightblue);
    --container-darkblue: var(--colors-background-darkblue);
    --border-search--primary: var(--colors-background-red);
    --border-checkbox---secondary: var(--text-gray-accent);
    --text-primary: var(--colors-black);
    --text-secondary: var(--colors-white);
    --text-gray-accent: var(--colors-dark-grey);
    --text-nofocus: var(--colors-light-grey);

    --filter-color: #ffffffff;
    --header-color: #ffffffff;
    --spacing-12: 12px;
    --spacing-128: 128px;
    --spacing-16: 16px;
    --spacing-160: 160px;
    --spacing-192: 192px;
    --spacing-20: 20px;
    --spacing-224: 224px;
    --spacing-24: 24px;
    --spacing-32: 32px;
    --spacing-4: 4px;
    --spacing-40: 40px;
    --spacing-48: 48px;
    --spacing-8: 8px;
    --spacing-80: 80px;
    --spacing-96: 96px;
    --typeface-size-2xl: 36px;
    --typeface-size-3xl: 48px;
    --typeface-size-4xl: 60px;
    --typeface-size-5xl: 72px;
    --typeface-size-lg: 18px;
    --typeface-size-md: 16px;
    --typeface-size-sm: 14px;
    --typeface-size-xl: 24px;
    --typeface-size-xs: 12px;
    --typeface-size-xxs: 8px;
    --typeface-size-xxxs: 4px;
    --max-width: 1438px;
}